# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
stereoEnhancer/Builds/VisualStudio2012/Release/CL.3344.write.1.tlog
stereoEnhancer/Builds/VisualStudio2010/resources.rc
stereoEnhancer/Builds/VisualStudio2010/stereoEnhancer.sln
stereoEnhancer/Builds/VisualStudio2012/Release/CL.3320.write.1.tlog
